# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
env/

# IDE / Editor configs
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp
*.swp

# Machine learning
*.pt
*.ckpt
*.bin
cache/

# pytest cache
.pytest_cache/

# Packaging artifacts
build/
dist/
*.egg-info/